*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs-container {
  display: flex;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.tag {
  background: #6a5acd;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;;
  top: 20px;
  right: 10px;
  font-size: 12px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}

#image-card {
  width: 70%;
  height: 70%;
}